@using Microsoft.AspNetCore.Identity
@using EssayStorage.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Search" asp-action="StartSearch" method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <input type="search" class="form-control" placeholder="search" name="Data" autocomplete="off" style="margin-top:7px" />
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Search</button>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Account</a>
            </li>
            <li><a asp-area="" asp-controller="Account" asp-action="Logout">Log out</a></li>

        </ul>
    </form>
}
else
{
    <form asp-area="" asp-controller="Search" asp-action="StartSearch" method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <input type="search" class="form-control" placeholder="search" name="Data" autocomplete="off" style="margin-top:7px" />
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Search</button>
            </li>
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>

        </ul>
    </form>
}
