@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-4">
        <center>
            <img style="height: 240px;" src="@Model.PicturePath" class="img-responsive img-thumbnail" />
            <form method="post" asp-controller="Manage" asp-action="UploadImage" enctype="multipart/form-data">
                <input type="file" class="btn btn-info btn-sm" name="file" style="width:240px;margin-top:10px" />
                <input style="margin-top: 5px; width: 130px;" type="submit" class="btn btn-info" value="Load" />
            </form>
        </center>
    </div>
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-group">
                    <label>confirmed</label>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label> not confirmed</label>
                </div>
            }
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
            </div>

            <button type="submit" class="btn btn-default">Save</button>
        </form>
        <a href="#" id="username">darova</a>
        <script>
            $('#username').editable({
                type: 'text',
                pk: 228,
                url: '/Manage/UpdateName',
                title: 'Enter username',
                success: function (isSuccessive) {
                    alert(isSuccessive);
                }
            });
        </script>
    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
