
@{
    ViewData["Title"] = "UserIsBlocked";
}

<center>
    <h1>Ваш аккаунт заблокирован</h1>
    <h2>Пожалуйста, обратитесь в поддержку</h2>
    <h2>E-mail: essay.storage1337@gmail.com</h2>
</center>

