
@{
    ViewData["Title"] = "DeleteEssay";
}

<center>
    <h2 style="margin-top: 90px;">Конспект был успешно удален</h2>
</center>

<script>
    setTimeout(function () {
        let path = "https://" + window.location.host + '/Manage/UserEssays';
        window.location.href = path;
    }, 2000);
</script>
