@model CreateEssayViewModel

<meta charset="utf-8" />
<link rel="stylesheet" href="~/lib/editor.md/examples/css/style.css" />
<link rel="stylesheet" href="~/lib/editor.md/css/editormd.css" />
<link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />

<div id="layout" style="margin-top: 15px;">
    <form method="post" action="../Editor/UpdateEssay">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" autocomplete="off" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" autocomplete="off" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Specialization"></label>
            <input asp-for="Specialization" class="form-control" autocomplete="off" />
            <span asp-validation-for="Specialization" class="text-danger"></span>
        </div>
        <input asp-for="Id" class="form-control" style="display:none;"/>
        <div id="test-editormd">
            <textarea asp-for="Content" style="display:none;">
        </textarea>
        </div>
        <button type="submit" class="btn btn-info">Send</button>
    </form>
</div>

<script src="~/lib/editor.md/examples/js/jquery.min.js"></script>
<script src="~/lib/editor.md/editormd.js"></script>
<script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
<script type="text/javascript">
    var dropzone = new Dropzone("#test-editormd", { url: "/Editor/SavePicture" });
    dropzone.on("complete", function (file) {
        dropzone.removeFile(file);
    });
    dropzone.on("success", function (obj, link) {
        testEditor.insertValue("![](" + link + ")");
    });

    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "/lib/editor.md/lib/"
        });
    });
</script>