@{
    ViewData["Title"] = "SaveEssay";
}

<center>
    <h2 style="margin-top: 90px;">Канспект был успешна дабавлен</h2>
</center>

<script>
    $(location).attr('href', window.location.host + "/Manage/UserEssays");
    setTimeout(function () {
        let path = "https://" + window.location.host + '/Manage/UserEssays';
        window.location.href = path;
    }, 2000);
</script>